# Force redirect to HTTPS
# <IfModule mod_rewrite.c>
#   RewriteEngine On 
#   RewriteCond %{HTTPS} off
#   RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# </IfModule>

# Compress uncompressed file types by extension
<IfModule mod_deflate.c>
  <FilesMatch "\.(css|js|php|html?|txt|xml|svg)$">
    SetOutputFilter DEFLATE
  </FilesMatch>
</IfModule>

# Set default cache expires to 1 year after access
# <IfModule mod_expires.c>
#   ExpiresActive On
#   ExpiresDefault "access plus 1 year"
# </IfModule>

# Set specific cache header for static resources
<IfModule mod_headers.c>
  Header set Connection keep-alive

  # <FilesMatch "\.(css|js|jpe?g|png|svg|gif|webp|woff2|mp4)$">
  #   Header set Cache-Control "max-age=31536000, public"
  # </FilesMatch>
</IfModule>

# Route all pages to index.php
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php [NC,L,QSA]
</IfModule>