#hero h1 span {
  opacity: 0;
  filter: blur(4px);
  transform: translateY(12px);
  animation: focus-in 0.8s forwards ease-out;
}

#singularity {
	position: sticky;
	top: 50%;
	opacity: 0;
	pointer-events: none;
	transform: translateY(-50%);
	animation: fade-in ease-in-out forwards;
	animation-timeline: view();
	animation-range: entry 100vh;
}
#blackhole {
	width: 200px;
	height: 200px;
	filter: blur(10px);
	position: absolute;
	left: calc(50% - 100px);
	top: calc(50% - 100px);
}
#blackhole::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rebeccapurple;
	border-radius: 45% 55% 43% 57% / 41% 39% 61% 59%;
	box-shadow: -3px -1px 0 15px rebeccapurple, 0px 3px 0 18px rebeccapurple;
	transform: rotate(426deg);
	animation: rotate 20s linear infinite, radius 20s linear infinite;
	left: 0;
}
#blackhole::after {
	content: '';
	position: absolute;
	background: var(--color-background);
	width: 100%;
	height: 100%;
	border-radius: 50%;
	left: 0;
}
#radiation {
	position: absolute;
	z-index: -1;
	bottom: 50px;
	margin: auto;
	background-color: rebeccapurple;
	width: 70px;
	height: 50px;
	border-radius: 45% 55% 48% 52% / 56% 43% 57% 44%;
	filter: blur(10px);
	animation: radius 8s linear infinite;
	left: calc(50% - 35px);
}
#radiation::after {
  content: '';
  border-radius: 45% 55% 48% 52% / 56% 43% 57% 44%;
  position: absolute;
  background-color: rebeccapurple;
  width: 70px;
  height: 50px;
  bottom: -8px;
  left: -25px;
  animation: radius 7s linear infinite;
  animation-delay: 2s;
}
#radiation::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  filter: blur(10px);
  bottom: 0;
  left: 0;
  animation: radiation 7s forwards infinite, radius 20s linear infinite;
}
#radiation i:nth-child(1)::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  filter: blur(10px);
  bottom: 0;
  left: 10px;
  animation: radiation 4s forwards infinite, radius 10s linear infinite;
}
#radiation i:nth-child(1)::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  filter: blur(10px);
  bottom: 0;
  left: 30px;
  transform: scale(0.8);
  animation: radiation 5s forwards infinite, radius 10s linear infinite;
  animation-delay: 1s;
}
#radiation i:nth-child(2)::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  filter: blur(10px);
  bottom: 0;
  left: 20px;
  animation: radiation 6s forwards infinite, radius 10s linear infinite;
  animation-delay: 2s;
}
#radiation i:nth-child(2)::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  filter: blur(10px);
  bottom: 0;
  left: -20px;
  transform: scale(0.9);
  animation: radiation2 7s forwards infinite, radius 10s linear infinite;
  animation-delay: 3s;
}
#radiation i:nth-child(3)::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  filter: blur(10px);
  bottom: 0;
  left: 35px;
  animation: radiation3 3s forwards infinite, radius 10s linear infinite;
  animation-delay: 4s;
}
#radiation i:nth-child(3)::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  filter: blur(10px);
  bottom: 0;
  left: -20px;
  transform: scale(1.1);
  animation: radiation3 5s forwards infinite, radius 6s linear infinite;
  animation-delay: 5s;
}
#radiation i:nth-child(4)::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  filter: blur(10px);
  bottom: 0;
  left: 45px;
  animation: radiation4 9s forwards infinite, radius 10s linear infinite;
  animation-delay: 5s;
}
#radiation i:nth-child(4)::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  filter: blur(10px);
  bottom: 0;
  left: -20px;
  transform: scale(1.1);
  animation: radiation4 9s forwards infinite, radius 6s linear infinite;
  animation-delay: 6s;
}

#scroll-to-top img {
  filter: brightness(0.6);
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
}
#scroll-to-top::before {
  content: url(../icons/chevron-up.svg);
  position: absolute;
  top: 0;
  filter: invert(1);
  margin-top: 0;
  opacity: 0;
  scale: 1.5;
  transition: all .25s ease-out;
}
#scroll-to-top:hover {
  background: rgba(255, 255, 255, .3);
}
#scroll-to-top:hover img {
  filter: brightness(.9);
}
#scroll-to-top:hover::before {
  margin-top: -2rem;
  opacity: .7;
}
#scroll-watcher {
  width: 100%;
  height: 2px;
  position: fixed;
  background: var(--color-primary-light);
  top: 0;
  z-index: 1000;
  scale: 0 1;
  transform-origin: left;
  animation: scroll-watcher linear;
  animation-timeline: scroll();
  filter: drop-shadow(0 0 8px rgba(255, 66, 232, 1));
}

/* Language button */
#lang .menu a.active {
  background: rgba(255, 255, 255, .2);
}
#lang .menu a:hover {
  background: rgba(255, 255, 255, .3);
}
#lang .btn:focus,
#lang .btn:active,
#lang:focus .btn,
#lang:active .btn {
  border-color: #fff;
}
#lang .btn:focus + .menu,
#lang .btn:active + .menu,
#lang:focus .btn + .menu,
#lang:active .btn + .menu {
  margin-top: .5rem;
  pointer-events: auto;
  opacity: 1;
  height: auto;
}

/* Scrolled */
body.scrolled #portfolio .title {
  animation-direction: reverse;
}
body.scrolled #portfolio .title h2::before {
  transform: translateX(0);
  transition-delay: 0.2s;
}
body.scrolled #portfolio .title h2::after {
  transform: translateX(100%);
}
body.scrolled #scroll-to-top {
  width: 4rem;
  height: 4rem;
  right: 1rem;
}
body.scrolled #scroll-to-top::before {
  display: none;
}

/* Animations */
.typewrite span {
  border-right: 4px solid transparent;
  animation: text-cursor .5s infinite alternate-reverse;
}
.blink {
  animation: blink 1s infinite;
}

/* Tablet */
@media screen and (min-width: 768px) {
  #lang:hover .btn {
    border-color: #fff;
  }
  #lang:hover .menu {
    margin-top: .5rem;
    pointer-events: auto;
    opacity: 1;
    height: auto;
  }
  #blackhole {
    scale: 2;
  }
}

@keyframes radiation {
  0% {
    box-shadow: 20px -3vh 0 10px var(--color-accent);
  }
  100% {
    border-radius: 45% 55% 48% 52% / 56% 43% 57% 44%;
    box-shadow: 40px -43vh 0 20px var(--color-accent);
    transform: scale(1);
  }
}
@keyframes radiation2 {
  0% {
    box-shadow: 10px -5vh 0 10px var(--color-accent);
  }
  100% {
    box-shadow: 20px -45vh 0 20px var(--color-accent);
  }
}
@keyframes radiation3 {
  0% {
    box-shadow: 9px -7vh 0 6px var(--color-accent);
  }
  100% {
    box-shadow: 14px -45vh 0 15px var(--color-accent);
  }
}
@keyframes radiation4 {
  0% {
    box-shadow: 9px -7vh 0 7px var(--color-accent);
  }
  100% {
    box-shadow: 14px -45vh 0 14px var(--color-accent);
  }
}
@keyframes scroll-watcher {
  to { scale: 1 1; opacity: 1; }
}
@keyframes focus-in {
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}
@keyframes blink {
  50% { opacity: 0; }
}
@keyframes text-cursor {
  to { border-right-color: #fff; }
}