footer {
  /* This CSS property allows the browser to skip rendering offscreen content until needed. */
  content-visibility: auto;
  contain-intrinsic-size: 96px;
  padding: 0 2rem;
  font-size: .9rem;
  opacity: .6;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#scroll-to-top {
  position: fixed;
  right: calc(50% - 2.5rem);
  bottom: 1rem;
  z-index: 999;
  cursor: pointer;
  background: rgba(255, 255, 255, .15);
  border-radius: 50%;
  padding: .5rem;
  width: 5rem;
  height: 5rem;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(50px);
  transition: background-color .5s ease, right .25s ease-out;
  opacity: 0;
  animation: fade-in-up ease-in-out forwards;
  animation-timeline: view();
  animation-range: entry 150vh 200vh;
}

#skills {
  background: linear-gradient(to bottom, var(--color-background), var(--color-secondary-dark));
}
#skills pre {
  position: absolute;
  top: 0;
  opacity: 0;
  margin: 0;
  font-size: 4rem;
  font-weight: 400;
  animation: fade-in-down ease-in-out forwards;
  animation-timeline: view();
  animation-range: 100vh 300vh;
}
#skills .stats {
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding-right: var(--padding-side);
}
#skills .stats p {
  font-size: 1rem;
  margin: 0;
}
#skills .stats p.counter {
  font-size: 2rem;
  line-height: 1.2;
}
#skills .testimonies {
  pointer-events: none;
}
#skills .title-container {
  display: flex;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 3rem 0;
  color: white;
}
#skills .stats,
#skills .title {
  transform: translateY(10vh);
  animation: fade-in-up linear forwards;
  animation-timeline: view();
  animation-range: 10vh 35vh;
}
#skills .title {
  width: 50%;
  padding-left: var(--padding-side);
}
#skills .title h1 {
  white-space: nowrap;
  font-size: 1.35rem;
  font-weight: 400;
}
#skills .texts {
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to bottom, transparent 20vh, white, transparent);
  background-attachment: fixed;
  margin: 0;
  padding: 0 0 15vh 50%;
  font-size: 1.25rem;
  color: transparent;
  text-shadow: 0 0 5px rgba(255, 255, 255, .2);
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range-end: 100vh;
}
#skills .vendors {
  perspective: 100px;
  perspective-origin: center right;
  position: fixed;
  left: 30%;
  right: 0;
  top: calc(50% - 5rem - 12.5vh - 1rem);
}
#skills .vendors div {
  display: flex;
  transform: rotate3d(1, 1, 1, -11deg);
  mask: linear-gradient(90deg, transparent, white 20% 80%, transparent);
  animation: rotate-3d linear forwards;
  animation-timeline: scroll();
  animation-range: 100vh 180vh;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  will-change: transform;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}
#skills .vendors img {
  height: 3rem;
  margin: 1rem;
  filter: grayscale(1) brightness(1.25);
  opacity: .25;
  animation: scrolling linear forwards;
  animation-timeline: scroll(root);
  animation-range: 25vh;
}

#particles-js {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  mask: linear-gradient(to left, transparent, white 50%);
  animation: scroll-half linear forwards;
  animation-timeline: scroll();
  animation-range: 0 100vh;
}
#particles-js2 {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 80vh;
  clip-path: border-box;
  mask: linear-gradient(to bottom, transparent, white 50%);
  animation: fade-in linear forwards;
  animation-timeline: view();
}

/* This CSS property allows the browser to skip rendering offscreen content until needed. */
/* #portfolio {
  content-visibility: auto;
  contain-intrinsic-size: 1000px;
} */

#portfolio {
  background: linear-gradient(to top, var(--color-primary-dark), transparent);
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
}
#portfolio, #particles-js2 {
  border-radius: 0% 0% 1500vw 2500vw / 0% 0% 30vw 1500vw;
}
#portfolio::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: var(--color-secondary-dark);
  animation: fade-out linear forwards;
  animation-timeline: view();
  animation-range: entry 50vh 75vh;
}
#portfolio .portfolio-title {
  position: fixed;
  left: 50%;
  margin: 0 0 0 -50%;
  bottom: 0;
  font-size: 13rem;
  overflow: hidden;
  text-overflow: clip;
  width: 100%;
  opacity: .1;
  z-index: -1;
  animation: fade-out-up linear forwards;
  animation-timeline: scroll(root);
  animation-range: 80% 85%;
}
#portfolio .title {
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  pointer-events: none;
  animation: fade-out-half linear forwards;
  animation-range: entry 30vh 100vh;
  animation-timeline: view();
}
#portfolio .title h1 {
  position: absolute;
  top: calc(50% - 2.75rem);
  width: 100%;
  height: 5.5rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  margin: 0;
  animation: fade-out-up linear forwards;
  animation-timeline: scroll(root);
  animation-range: 93% 98%;
}
#portfolio .title h1 span {
  color: var(--color-primary-light);
  font-size: 3.5rem;
  font-weight: 600;
  opacity: .5;
}
#portfolio .title h2 {
  position: absolute;
  top: -3.5rem;
  left: calc(50% - 25vw);
  width: 50vw;
  opacity: 0;
  transform: translateY(5rem);
  animation: fade-in-up linear forwards;
  animation-timeline: scroll();
  animation-range: 95%;
  margin: 0;
  line-height: 2.5rem;
  text-align: center;
}
#portfolio .title h2::before, #portfolio .title h2::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background: var(--color-primary-light);
  transform: translateX(-105%);
  transition: all 0.3s cubic-bezier(0.2, 1, 0.2, 1);
}
#portfolio .item {
  border-radius: 1rem;
  transition: all .5s ease;
  margin: -10vw 11vw 0;
  padding: 2rem;
  line-height: 1.35;
  color: #fff;
  opacity: 0;
  z-index: 1;
  max-width: 65vw;
  transform: translateY(-20vh);
  animation: fade-in-scale-y ease-out forwards;
  animation-timeline: view();
  animation-range: entry;
}
#portfolio .item.text-right {
  align-self: flex-end;
}
#portfolio .item div {
  transition: opacity .5s ease, max-height .5s ease-out, margin-top 1s ease-out;
  opacity: 0;
  max-height: 0;
  pointer-events: none;
  overflow: hidden;
}
#portfolio .item div img {
  height: 2rem;
  margin-right: .5rem;
}
#portfolio .item div p {
  font-size: 1rem;
  margin-top: 0;
}
#portfolio .item.text-right div img {
  margin: 0 0 0 1rem;
}
#portfolio .item.active {
  box-shadow: 0 5px 20px rgba(0, 0, 0, .5);
  /* background: rgba(0, 0, 0, .5); */
  backdrop-filter: blur(10px);
  color: #000;
  background: rgba(255, 255, 255, 0.7);
}
#portfolio .item.active div {
  opacity: 1;
  max-height: 500px;
  pointer-events: auto;
}
#portfolio .item > img {
  box-shadow: 0 5px 20px rgba(0, 0, 0, .5);
  border-radius: 1rem;
  margin: -2vw 0 0;
  transition: transform .5s ease-out, scale .25s ease, margin .5s ease-out;
}
#portfolio #portfolio-1 {
  margin-top: 5rem;
}
#portfolio-1 > img {
  width: 34.5vw;
}
#portfolio-2 > img {
  width: 25.5vw;
}
#portfolio-3 > img {
  width: 25vw;
}
#portfolio-4 > img {
  width: 24vw;
}
#portfolio .item.active > img {
  transform: rotate(-6deg) translateX(16vw) !important;
  scale: .75;
  /* margin: -10vw 0; */
  margin: -12vw 0 -8vw;
}
#portfolio .item.text-right.active > img {
  transform: rotate(6deg) translateX(-16vw) !important;
}
#portfolio .socials {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 17rem;
}
#portfolio .socials a {
  animation: fade-in ease-in-out forwards;
  animation-timeline: view();
  animation-range: contain;
  opacity: 0;
}
#portfolio .socials a img {
  margin: 0 1rem;
}

.d-tablet, .d-desktop, .d-tablet-inline {
  display: none;
}
.socials a img {
  margin-right: 1.5rem;
  filter: invert();
  transition: all .2s linear;
  width: 1.75rem;
  opacity: .8;
}
.socials a:hover img {
  filter: invert() drop-shadow(0 0 8px var(--glow));
  opacity: 1;
}
.text-right {
  text-align: right;
}

/* Animations */
@keyframes scrolling {
  to { transform: translate(-280rem); }
}
@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fade-in-scale-y {
  from { opacity: 0; }
  to { opacity: 1; scale: 1; transform: translateY(0); }
}
@keyframes fade-in-up {
  from { opacity: 0; }
  to { opacity: 1; transform: translateY(0); }
}
@keyframes fade-in-down {
  from { opacity: 0; }
  to { opacity: 1; transform: translateY(12rem); }
}
@keyframes fade-in-left {
  from { opacity: 0; }
  to { opacity: 1; transform: translateX(0); }
}
@keyframes fade-out {
  to { opacity: 0; }
}
@keyframes fade-out-half {
  to { opacity: .5; }
}
@keyframes fade-out-up {
  to { opacity: 0; transform: translateY(-7rem); }
}
@keyframes rotate-3d {
  to { transform: rotate3d(1, 1, 1, 0deg); }
}
@keyframes scroll-half {
  to { transform: translateY(-50vh); }
}
@keyframes scroll-up {
  from { transform: translateY(var(--scroll-start)); }
  to   { transform: translateY(var(--scroll-end)); }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes radius {
  0% {
    border-radius: 45% 55% 43% 57% / 41% 39% 61% 59%;
  }
  15% {
    border-radius: 50% 50% 48% 52% / 55% 39% 61% 45%;
  }
  25% {
    border-radius: 45% 55% 39% 61% / 55% 30% 70% 45%;
  }
  50% {
    border-radius: 45% 55% 28% 72%/56% 61% 39% 44%;
  }
  80% {
    border-radius: 73% 27% 28% 72% / 74% 61% 39% 26%;
  }
  100% {
    border-radius: 45% 55% 43% 57% / 41% 39% 61% 59%;
  }
}

/* WCAG */
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000;
  color: #fff;
  padding: 8px 16px;
  z-index: 100;
  text-decoration: none;
  font-weight: 600;
  transition: top 0.3s ease;
}
.skip-link:focus,
.skip-link:focus-visible {
  top: 0;
}

/* Tablet */
@media screen and (min-width: 768px) {
body {
  font-size: 1.25rem;
}
footer {
  font-size: 1rem;
}
.d-tablet {
  display: block;
}
.d-tablet-inline {
  display: inline;
}
.socials a img {
  width: 2.5rem;
}
#hero h1:hover {
  opacity: 1;
}
#hero h1:hover::before {
  transform: translateX(0);
  transition-delay: 0.2s;
}
#hero h1:hover::after {
  transform: translateX(100%);
}

#scroll-down {
  margin-top: 0;
}

#skills h1 {
  font-size: 3rem;
}
/* @media (prefers-reduced-motion: no-preference) {} */
#skills .stats .stat {
  transform: translateX(5rem);
  opacity: 0;
  animation: fade-in-left ease-out forwards;
  animation-timeline: view();
  animation-range: 10vh 75vh;
}
#skills .stats .stat:nth-child(2) {
  transform: translateX(10rem);
  animation-range: 15vh 80vh;
}
#skills .stats .stat:nth-child(3) {
  transform: translateX(15rem);
  animation-range: 20vh 85vh;
}
#skills .stats p {
  font-size: 1.25rem;
}
#skills .stats p.counter {
  font-size: min(4rem, 8vh);
}
#skills .texts {
  font-size: 1.5rem;
}
#skills .title h1 {
  font-size: 2rem;
}
#skills .vendors {
  perspective: 125px;
}
#skills .vendors div {
  animation: none;
}
#skills .vendors img {
  height: 4rem;
  margin: 1.5rem;
}

#portfolio .title {
  animation-name: scroll-watcher;
  animation-direction: normal !important;
  scale: 2;
  opacity: 0;
}
#portfolio .item {
  max-width: 25rem;
  scale: 1.5;
}
#portfolio .item div p {
  font-size: 1.15rem;
}
#portfolio-1 > img {
  width: 23vw;
}
#portfolio-2 > img {
  width: 17vw;
}
#portfolio-3 > img {
  width: 16.6vw;
}
#portfolio-4 > img {
  width: 16vw;
}
#portfolio .socials {
  padding-top: 18rem;
}
}

/* Desktop */
@media screen and (min-width: 992px) {
.d-desktop {
  display: block;
}
#skills .stats {
  width: 65%;
}
#skills .texts {
  padding-left: 35%;
}
#skills .title {
  width: 35%;
}
#skills .testimonies {
  position: fixed;
  right: 0;
  left: 50%;
  top: 0;
  z-index: 2;
  width: 50%;
  height: 100vh;
}
#skills .testimonies .testimony {
  --scroll-start: 150vh;
  --scroll-end: -150vh;
  position: absolute;
  background: rgba(0, 0, 0, .35);
  backdrop-filter: blur(29px);
  padding: 1rem;
  border-radius: 1.5rem;
  line-height: 1.25;
  font-size: 1rem;
  margin-left: 10%;
  margin-right: 10%;
  box-shadow: 0 0 15px rgba(201, 59, 255, .15);
  animation: scroll-up linear forwards;
  animation-timeline: scroll();
  animation-range-end: 350vh;
}
#skills .testimonies .testimony p {
  font-size: 80%;
  opacity: .7;
}
#skills .testimonies .testimony img {
  border: 4px solid rgba(255, 255, 255, .3);
  border-radius: 50%;
  aspect-ratio: 1;
  object-fit: cover;
  position: absolute;
  width: 3rem;
}
#skills .testimonies .testimony:nth-child(1) {
  --scroll-start: 150vh;
  --scroll-end: -150vh;
  animation-name: scroll-up;
  width: 50%;
  left: 10%;
  scale: 1.1;
}
#skills .testimonies .testimony:nth-child(2) {
  --scroll-start: 150vh;
  --scroll-end: -75vh;
  animation-name: scroll-up;
  width: 40%;
  right: 0;
}
#skills .testimonies .testimony:nth-child(3) {
  --scroll-start: 200vh;
  --scroll-end: -150vh;
  animation-name: scroll-up;
  width: 35%;
  left: -5%;
  scale: 1.2;
}
#skills .testimonies .testimony:nth-child(4) {
  --scroll-start: 200vh;
  --scroll-end: -80vh;
  animation-name: scroll-up;
  width: 35%;
}
#skills .testimonies .testimony:nth-child(5) {
  --scroll-start: 185vh;
  --scroll-end: -36vh;
  animation-name: scroll-up;
  width: 55%;
  right: 0;
  scale: 1.1;
}
#skills .testimonies .testimony:nth-child(1) img {
  right: -4%;
  bottom: 11%;
}
#skills .testimonies .testimony:nth-child(2) img {
  right: -8%;
  bottom: 25%;
}
#skills .testimonies .testimony:nth-child(3) img {
  right: -8%;
  bottom: -6%;
}
#skills .testimonies .testimony:nth-child(4) img {
  left: 22%;
  bottom: -25%;
}
#skills .testimonies .testimony:nth-child(5) img {
  width: 4rem;
  right: -4%;
  bottom: 5%;
}
#skills .vendors {
  perspective: 150px;
}
}