.nav-main {
  background: url(../images/flare.png) no-repeat center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  min-height: 600px;
  position: absolute;
  box-sizing: border-box;
  padding: 2rem;
  opacity: 0;
  pointer-events: none;
}

.nav-main ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-row-gap: 1rem;
  justify-content: space-around;
  text-align: center;
}

.nav-main li {
  display: grid;
  grid-template-areas: "center";
  font-weight: 700;
  font-size: 1rem !important;
  color: #fff;
  cursor: pointer;
}

.nav-main li .first-menu {
  color: white;
  text-decoration: none;
  opacity: 0.4;
  z-index: 10;
  transition: all .5s ease;
}
.nav-main li:hover .first-menu {
  text-shadow: 0 0 54px deeppink, 0 0 16px plum, 0 0 75px violet, 0 0 20px lavender;
  opacity: 1;
}

.nav-main li .second-menu {
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 0;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  color: lavender;
  width: calc(25vw - 2rem);
  padding: 0 1rem;
  line-height: 1.2;
  height: 0;
  grid-area: center;
  transform: translate3d(0, -20px, 0);
}

.nav-main li:hover .second-menu {
  transform: translate3d(0, 0, 0);
  opacity: .5;
}

@media screen and (min-width: 600px) {
  .nav-main ul {
    width: 100%;
    grid-template-columns: repeat(4, auto);
  }
}