@import url(//fonts.googleapis.com/css?family=Dancing+Script:400,600,700);
@import url(//fonts.googleapis.com/css?family=Albert+Sans:300,400,600,700);
@import url(//fonts.googleapis.com/css?family=Lora:300,400,600,700);
@import url(//fonts.googleapis.com/css?family=Nanum+Gothic:300,400,600,700);
@import url(//fonts.googleapis.com/css?family=Quicksand:300,400,600,700);
@import url(//fonts.googleapis.com/css?family=Oxygen+Mono:400);

body {
  position: relative;
  width: 100%;
  /* height: 100vh; */
  margin: 0;
  background-color: hsla(0, 100%, 0%, 1);
  font-family: Lora, serif;
  /* overflow: hidden; */
  overflow-x: hidden;
  user-select: none;
  color: #fff;
}
lottie-player {
  pointer-events: none;
}
section {
  width: 100vw;
  height: 100vh;
  min-height: 600px;
  overflow: hidden;
}
#btn-get-started {
  position: absolute;
  left: calc(50% - 1.5rem);
  bottom: .5rem;
  font-size: 3rem;
  color: #fff;
  opacity: .75;
  z-index: 1;
  cursor: pointer;
  transform: translateY(-1rem);
  transition: all .5s ease-in-out;
}
#btn-get-started:hover {
  opacity: 1;
  transform: translateY(0);
}
#goToTop {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 999;
  background: #4e365561;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  color: #7072ef;
  pointer-events: none;
  transition: all .5s ease;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  transform: translateY(4rem);
}
#goToTop:hover {
  background: #e1e7eb;
  color: #582a8a;
}
#goToTop.show {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}
#wrap-texture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .05;
}
#wrap-texture .plane {
  width: 100%;
  height: 100vh;
}
#header {
  font-family: 'Dancing Script', cursive;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 600px;
  color: #fff;
  opacity: 0;
  padding: 6rem 2rem;
  box-sizing: border-box;
  pointer-events: none;
  transition: opacity 1s ease;
}
#header.show {
  pointer-events: auto;
  opacity: 1;
}
#header canvas {
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
#header canvas#stargate {
  position: absolute;
  opacity: .1;
  -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 20%, rgba(0,0,0,1) 100%);
  mask-image: linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 20%, rgba(0,0,0,1) 100%);
}
#header .main-content {
  position: relative;
  width: calc(30vmin + 200px);
}
#header .text-content {
  height: 4rem;
  padding: 1rem 0;
  box-sizing: border-box;
}
#header h1 {
  font-weight: 700;
  font-size: 3.6rem;
  margin-top: 2rem;
  margin-bottom: 0;
  line-height: 1;
}
#header h6 {
  font-family: 'Oxygen Mono', monospace;
  font-size: .65rem;
  font-weight: 400;
  margin: 0;
}
#header h5 {
  font-size: 0.9rem;
  color: #ccc;
  margin-top: 0;
  margin-bottom: 0;
  opacity: 0.6;
}
#header > * {
  text-shadow: 0 0 48px #aaa, 0 0 12px #333;
}
.content-buttons {
  display: flex;
  max-width: 300px;
  flex-wrap: wrap;
  flex-direction: column;
}
.content-buttons a:before {
  content: '';
  background: url(../images/wheel2.png) no-repeat center;
  background-size: contain;
  display: block;
  width: 400px;
  height: 400px;
  animation: 40s wheel infinite linear;
  position: absolute;
  pointer-events: none;
  transition: opacity 5s ease;
  opacity: 0;
}
.content-buttons a:hover:before {
  opacity: 0.4;
}
.content-buttons a {
  /*perspective: 50em;*/
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-buttons a img {
  transition: all .4s ease;
  border-radius: .8rem;
  width: 69px;
  transform: scale(1.0);
  filter: drop-shadow(0 0 0 rgba(255,255,255,0));
  z-index: 1;
}
.content-buttons a:hover img {
  /*transform: rotateY(0deg) scale(1.2);*/
  transform: scale(1.2);
  filter: drop-shadow(0 0 15px rgba(255,255,255,.5));
}

#page-loader {
  background: rgba(0,0,0,1);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  box-shadow: inset 0 0 15em 1em #000;
  text-shadow: 0 0 54px deeppink, 0 0 16px plum, 0 0 75px violet, 0 0 20px lavender;
  transition: opacity 1s ease;
}
#page-loader.dismiss {
  pointer-events: none;
  opacity: 0;
}
#page-loader span {
  position: absolute;
  font-size: 0.7rem;
  opacity: 1;
  bottom: 2rem;
}
#profile-picture {
  border-radius: 50%;
  width: 30vmin;
  height: 30vmin;
  min-width: 180px;
  min-height: 180px;
  filter: drop-shadow(0 0 45px rgba(255,255,255,1));
  display: flex;
  justify-content: center;
  align-items: center;
}
#header-canvas canvas {
  max-width: 100%;
  display: block;
}
#stats {
  display: none !important;
}

.wheel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
.wheel {
  animation: 40s wheel infinite linear;
  position: absolute;
  opacity: 0.2;
}
.wheel-reverse {
  animation: 40s wheel-reverse infinite linear;
  position: absolute;
  height: calc(30vh + 700px);
  opacity: 0.15;
}
@keyframes wheel {
  to {
    transform: rotate(360deg);
  }
}
@keyframes wheel-reverse {
  to {
    transform: rotate(-360deg);
  }
}