@import url(//fonts.googleapis.com/css?family=Dancing+Script:400,600,700);
@import url(//fonts.googleapis.com/css?family=Lora:300,400,600,700);
@import url(//fonts.googleapis.com/css?family=Oxygen+Mono:400);

/* Experimental: This is an experimental technology */
/* docs: https://developer.mozilla.org/en-US/docs/Web/CSS/@property */
/* from: https://codepen.io/gayane-gasparyan/pen/jOmaBQK */
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

body {
  position: relative;
  width: 100%;
  margin: 0;
  background-color: hsla(0, 100%, 0%, 1);
  font-family: Lora, serif;
  text-shadow: 0 0 48px #241926, 0 0 12px #250d3d;
  overflow-x: hidden;
  user-select: none;
  color: #fff;
}
lottie-player {
  pointer-events: none;
}
section {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  overflow: hidden;
}
section > .container {
  margin: auto;
  padding: 2rem;
}
section > .container h1 {
  font-family: 'Dancing Script', cursive;
}
section > .container h2 {
  font-size: 2.5rem;
  margin-top: .5rem;
}
section > .container h3 {
  font-family: 'Dancing Script', cursive;
  font-size: 1.75rem;
  font-weight: 400;
  margin-bottom: 0;
  position: relative;
}
section > .container h3::before {
  content: '';
  display: block;
  height: 1px;
  width: 35px;
  background-color: #eee;
  position: absolute;
  left: -45px;
  top: calc(1.75rem / 2);
  opacity: .3;
}
section > canvas,
#header > canvas {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
#btn-next-dimension {
  position: absolute;
  pointer-events: none;
  left: calc(50% - 1.5rem);
  top: calc(100vh - 3rem);
  font-size: 3rem;
  color: #fff;
  opacity: 0;
  z-index: 999;
  transform: translateY(-1rem);
  transition: all .5s ease-in-out;
}
#btn-next-dimension.show {
  pointer-events: auto;
  cursor: pointer;
  opacity: .5;
}
#btn-next-dimension.show:hover {
  opacity: 1;
  transform: translateY(0);
}
#btn-first-dimension {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 999;
  background: #4e365561;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  color: #7072ef;
  pointer-events: none;
  transition: all .5s ease;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  transform: translateY(4rem);
}
#btn-first-dimension::before, #energy .see-more::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(1.5);
  filter: blur(10px);
  border-radius: 50%;
  background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
  opacity: 0;
  transition: opacity .5s;
}
#energy .see-more::before {
  transform: scale(1);
  border-radius: 1.5rem;
}
#btn-first-dimension i {
  background-color: rgba(255,255,255,0);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .5s ease;
}
#btn-first-dimension:hover {
  background: #e1e7eb;
  color: #582a8a;
}
#btn-first-dimension:hover i {
  background-color: rgba(255,255,255,.5);
}
#btn-first-dimension:hover::before, #energy .see-more:hover::before {
  animation: spin 2.5s linear infinite;
  opacity: 1;
}
#energy .see-more img {
  transition: transform .5s ease-out;
}
#energy .see-more:hover img {
  transform: translateX(.75rem);
}
#btn-first-dimension.show {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}
#header {
  font-family: 'Dancing Script', cursive;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 600px;
  color: #fff;
  opacity: 0;
  padding: 6rem 2rem;
  box-sizing: border-box;
  pointer-events: none;
  transition: opacity 1s ease;
}
#header.show {
  pointer-events: auto;
  opacity: 1;
}
#header canvas#stars {
  position: fixed;
}
#header canvas#stargate {
  opacity: .1;
  -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 20%, rgba(0,0,0,1) 100%);
  mask-image: linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 20%, rgba(0,0,0,1) 100%);
}
#header .main-content {
  position: relative;
  width: calc(30vmin + 200px);
}
#header .text-content {
  height: 4rem;
  padding: 1rem 0;
  box-sizing: border-box;
}
#header h1 {
  font-weight: 700;
  font-size: 3.6rem;
  margin-top: 2rem;
  margin-bottom: 0;
  line-height: 1;
}
#header h6 {
  font-family: 'Oxygen Mono', monospace;
  font-size: .65rem;
  font-weight: 400;
  margin: 0;
}
#header h5 {
  font-size: 0.9rem;
  color: #ccc;
  margin-top: 0;
  margin-bottom: 0;
  opacity: 0.6;
}
#header > * {
  text-shadow: 0 0 48px #aaa, 0 0 12px #333;
}
.content-buttons {
  display: flex;
  max-width: 300px;
  flex-wrap: wrap;
  flex-direction: column;
}
.content-buttons a:before {
  content: '';
  background: url(../images/wheel2.png) no-repeat center;
  background-size: contain;
  display: block;
  width: 400px;
  height: 400px;
  animation: 40s wheel infinite linear;
  position: absolute;
  pointer-events: none;
  transition: opacity 5s ease;
  opacity: 0;
}
.content-buttons a:hover:before {
  opacity: 0.4;
}
.content-buttons a {
  /*perspective: 50em;*/
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-buttons a img {
  transition: all .4s ease;
  border-radius: .8rem;
  width: 69px;
  transform: scale(1.0);
  filter: drop-shadow(0 0 0 rgba(255,255,255,0));
  z-index: 1;
}
.socials a img {
  transition: all .4s ease;
}
.content-buttons a:hover img, .socials a:hover img {
  /*transform: rotateY(0deg) scale(1.2);*/
  transform: scale(1.2);
  filter: drop-shadow(0 0 15px rgba(255,255,255,.5));
}

#page-loader {
  background: rgba(0,0,0,1);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  box-shadow: inset 0 0 15em 1em #000;
  text-shadow: 0 0 54px deeppink, 0 0 16px plum, 0 0 75px violet, 0 0 20px lavender;
  transition: opacity 1s ease;
  opacity: 1;
  left: 0;
  top: 0;
}
#page-loader.dismiss {
  pointer-events: none;
  opacity: 0;
}
#page-loader span {
  position: absolute;
  font-size: 0.7rem;
  opacity: 1;
  bottom: 2rem;
}
#profile-picture {
  border-radius: 50%;
  width: 30vmin;
  height: 30vmin;
  min-width: 180px;
  min-height: 180px;
  filter: drop-shadow(0 0 45px rgba(255,255,255,1));
  display: flex;
  justify-content: center;
  align-items: center;
}

#about {
  background: linear-gradient(14deg, rgba(81, 11, 97, .4) 0%, rgba(137, 80, 218, .4) 30%, rgb(0 0 0 / 0%) 70%, rgb(0 0 0 / 0%) 100%);
  font-size: 1.25rem;
  font-weight: 300;
  position: relative;
  z-index: 2;
}
/* #about::before { */
#about .about-name {
  /* content: 'Taufik'; */
  font-family: 'Dancing Script';
  font-size: 20rem;
  font-weight: 700;
  position: absolute;
  left: -1.5rem;
  bottom: 10rem;
  opacity: .075;
  pointer-events: none;
}
#about lottie-player {
  position: absolute;
  margin: -30rem 0;
  top: 50%;
  /* opacity: .1; */
  animation: about-particles 5s infinite;
}
#about h2 {
  min-height: calc(2.5rem * 4 * 1.2);
}
#about p {
  margin: 2.5rem;
}
#about .about-stats {
  margin: 0 2.5rem;
}
#about .about-stats > div {
  display: flex;
  align-items: center;
}
#about .about-stats > div h1 {
  margin-right: 1rem;
  font-size: 4.5rem;
  font-weight: 400;
}
#about .about-stats > div span {
  line-height: 2rem;
}

#energy {
  overflow: visible;
}
#energy h2 {
  min-height: calc(2.5rem * 2 * 1.2);
}
#energy h4 {
  font-weight: 600;
}
#energy .container {
  position: relative;
  pointer-events: none;
  z-index: 3;
  -webkit-mask-image: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 70vh, rgba(0,0,0,0) 100%);
  mask-image: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 70vh, rgba(0,0,0,0) 100%);
}
#energy .portfolio-right p {
  position: relative;
}
#energy .portfolio-right p:first-child:first-letter {
  font-size: 2.75rem;
  font-style: italic;
  margin: -10px 12px -15px 0;
  float: left;
}
#energy .portfolio-right p::before {
  content: '';
  display: block;
  height: 1.5px;
  width: 0;
  background-color: #fff;
  position: absolute;
  left: -3rem;
  top: calc(50% - 1px);
  transition: width .3s ease-out;
  -webkit-mask-image: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 100%);
  mask-image: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 100%);
}
#energy .portfolio-right p.active::before {
  width: 2.5rem;
}
#energy .see-more {
  position: relative;
  pointer-events: auto;
  display: block;
  border-radius: 1.5rem;
  transition: all 1s ease;
  opacity: 1;
}
#energy .see-more lottie-player {
  position: absolute;
  left: 0;
  top: 1rem;
  transition: transform .5s ease-out;
}
#energy .see-more:hover {
  opacity: .85;
  transform: perspective(75em) rotateY(18deg) scale(1.05);
  box-shadow: rgba(22, 31, 39, 0.42) 0px 60px 123px -25px, rgba(19, 26, 32, 0.08) 0px 35px 75px -35px;
}
#energy .see-more:hover lottie-player {
  transform: scale(1.5) translate3d(20px, -8px, 20px);
}
#energy .see-more::after {
  content: 'See Portfolios';
  position: absolute;
  left: 1.75rem;
  bottom: 1.75rem;
  background: rebeccapurple;
  background: linear-gradient(6deg, rgb(83 42 102) 0%, rgb(96 42 107) 30%, rgb(110 68 151 / 85%) 68%, rgb(135 79 173 / 70%) 100%);
  border-radius: 3rem;
  padding: 0 2rem;
  color: #fff;
  font-size: 1.25rem;
  line-height: 2.5rem;
  transition: transform 1s ease-in-out;
}
#energy .see-more:hover::after {
  transform: scale(1.25);
}

#akashic {
  background: url(../images/space/purple-space.jpg) no-repeat center;
  /* background: url(../images/space/134-1349958_wallpaper-of-blue-purple-space-stars-background-blue.jpg) no-repeat center; */
  background-size: cover;
  position: absolute;
  left: 0;
  top: -20rem;
  bottom: -10rem;
  width: 100%;
  height: calc(100% + 30rem);
  z-index: 2;
  -webkit-mask-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 20rem, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);
  mask-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 20rem, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);
}
#akashic canvas {
  pointer-events: none;
}
#world {
  text-shadow: 0 0 5rem #f9dbff, 0 0 2rem #d594e2, 0 0 1rem #a170d2;
}
#world .container {
  padding-top: 10rem;
}
#world .socials {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}
#world .socials a {
  margin: 0 .75rem;
}
#world .socials img {
  width: 2rem;
}
#world lottie-player {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}
#line {
  width: 2px;
  height: 0;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: calc(50% - 1px);
  transition: all .5s ease-out;
  -webkit-mask-image: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 1rem, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 100%);
  mask-image: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 1rem, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 100%);
}
#particles-js {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  animation: header-particles 1s infinite;
  transition: opacity 1s ease-out;
}

.wheel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
.wheel {
  animation: 40s wheel infinite linear;
  position: absolute;
  opacity: 0.2;
}
.wheel-reverse {
  animation: 40s wheel-reverse infinite linear;
  position: absolute;
  height: calc(30vh + 700px);
  opacity: 0.15;
}

@keyframes header-particles {
  0%   { opacity: 1; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes about-particles {
  0%   { opacity: .025; }
  50%  { opacity: .1; }
  100% { opacity: .025; }
}
@keyframes spin {
  0%   { --rotate: 0deg; }
  100% { --rotate: 360deg; }
}
@keyframes wheel {
  to {
    transform: rotate(360deg);
  }
}
@keyframes wheel-reverse {
  to {
    transform: rotate(-360deg);
  }
}