body {
  font-size: 1.25rem;
}
footer {
  font-size: 1rem;
}
.d-tablet {
  display: block;
}
.d-tablet-inline {
  display: inline;
}
.socials a img {
  width: 2.5rem;
}
#hero {
  margin-bottom: -2rem;
}
#hero h1 {
  font-size: 3.5rem;
  line-height: 1.15;
  overflow: visible !important;
  opacity: .85;
  display: inline-block;
  position: relative;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.2, 1, 0.2, 1);
}
#hero h1::before, #hero h1::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background: var(--color-primary-light);
  transform: translateX(-105%);
  transition: all 0.3s cubic-bezier(0.2, 1, 0.2, 1);
}
#hero h1:hover {
  opacity: 1;
}
#hero h1:hover::before {
  transform: translateX(0);
  transition-delay: 0.2s;
}
#hero h1:hover::after {
  transform: translateX(100%);
}
#hero h1 span {
  display: block;
  font-size: 150%;
}

#lang:hover .btn {
  border-color: #fff;
}
#lang:hover .menu {
  margin-top: .5rem;
  pointer-events: auto;
  opacity: 1;
  height: auto;
}

#scroll-down {
  margin-top: 0;
}

#skills h1 {
  font-size: 3rem;
}
/* @media (prefers-reduced-motion: no-preference) {} */
#skills .stats .stat {
  transform: translateX(5rem);
  opacity: 0;
  animation: fade-in-left ease-out forwards;
  animation-timeline: view();
  animation-range: 10vh 75vh;
}
#skills .stats .stat:nth-child(2) {
  transform: translateX(10rem);
  animation-range: 15vh 80vh;
}
#skills .stats .stat:nth-child(3) {
  transform: translateX(15rem);
  animation-range: 20vh 85vh;
}
#skills .stats p {
  font-size: 1.25rem;
}
#skills .stats p.counter {
  font-size: min(4rem, 8vh);
}
#skills .texts {
  font-size: 1.5rem;
}
#skills .title h1 {
  font-size: 2rem;
}
#skills .vendors {
  perspective: 125px;
}
#skills .vendors div {
  animation: none;
}
#skills .vendors img {
  height: 4rem;
  margin: 1.5rem;
}

#portfolio .title {
  animation-name: scroll-watcher;
  animation-direction: normal !important;
  scale: 2;
  opacity: 0;
}
body.scrolled #portfolio .title h2::after {
  transform: translateX(100%);
}
#portfolio .item {
  max-width: 25rem;
  scale: 1.5;
}
#portfolio .item div p {
  font-size: 1.15rem;
}
#portfolio-1 > img {
  width: 23vw;
}
#portfolio-2 > img {
  width: 17vw;
}
#portfolio-3 > img {
  width: 16.6vw;
}
#portfolio-4 > img {
  width: 16vw;
}
#portfolio .socials {
  padding-top: 18rem;
}
#blackhole {
	scale: 2;
}